@media only screen and (min-width:1281px) and (max-width:1366px) {
    .nav {
        width: 1366px;
        height: 300px;
    }

    .nav h1 {
        position: absolute;
        left:50px;
        font-size:90px;
    }

    .nav h3 {
        font-size: 30px;
        font-family: 'Courgette', cursive;
        color:white;
        position:absolute;
        left:45px;
        top:140px;
    }

    .container-body img {
        border-radius:190px;
        position: absolute;
        left: 510px;
        bottom:210px;
        border:solid 5px white;
        max-width:320px;
        max-height:260px;
        width: auto;
        height: auto;
    }

    .sobre {
        position: relative;
        top:180px;
        left:20px;
        width: 600px;
        height:440px;
        padding:5px;
        background-color: #2f2f2f;
        border: solid 1px white;
        border-radius:10px;
    }

    .sobre p {
        font-family: 'Dancing Script', cursive;
        font-size:21px;
        color:white;
    }

    .sobre2 {
        width: 600px;
        height:450px;
        border-left: solid 1px white;
        float:right;
        position: relative;
        top:-270px;
        right:40px;
        display: inline;
    }

    .knowledge {
        width:1366px;
        height: 490px;
        position: relative;
        bottom:160px;
    }

    .knowledge h1 {
        font-family: 'Be Vietnam', sans-serif;
        font-size:40px;
        color:white;
        position: absolute;
        left: 460px;
    }

    .container-body {
        width:1366px;
        height:1200px;
        background-color: #2f2f2f;
    }


    .pessoais {
        position: absolute;
        width:1366px;
        height: 230px;
        left: 0px;
       display:inline;
    }

    .pessoais p {
        position: relative;
        font-family: 'Big Shoulders Text', cursive;
        top:10px;
        width: 1280px;
        font-size:25px;
        left: 10px;
        
    }

    .direitos {
        width:1366px;
        height: 30px;
        background-color: #264d92;
        position: relative;     
        bottom:120px;
    }

    

 

    .java {
        width: 290px;
        height: 80px;
        border:solid 1px white;
        border-radius:15px;
        position: relative;
        top: 130px;
        left: 170px;
    }

    .php {
        width: 290px;
        height: 80px;
        border:solid 1px white;
        border-radius:15px;
        position: relative;
        top: 200px;
        left: 165px;
    }

    .css3 {
        width: 290px;
        height: 80px;
        border:solid 1px white;
        border-radius:15px;
        position: relative;
        top:-34px;
        left: 110px;
        
    }

    .html {
        width: 290px;
        height: 80px;
        border:solid 1px white;
        border-radius:15px;
        position: relative;
        top: 120px;
        left:-182px;
    }
    

    .pessoais-mobile p {
        position: relative;
        font-family: 'Big Shoulders Text', cursive;
        top:10px;
        width: 1024px;
        font-size:20px;
        left: 10px;
        display:none;
    }

    .infomation {
        width:1366px;
        height:300px;
        border-top: 5px solid #264d92;
        position: relative;
        top:-135px;
       
    }

    .social-media {
        position: absolute;
        width:1366px;
        height: 290px;
        left: 0px;
        
        
    }

    .github {
        position: absolute;
        top:120px;
        left:720px;
        width:200px;
        height: 60px;
        cursor:pointer;
        
    }

    .github p {
        float:right;
        padding-right:50px;
        font-family: 'Big Shoulders Text', cursive;
        color:black;
        position:relative;
        top:20px;
        font-size:20px;
        
    }

    .facebook {
        position: absolute;
        top:120px;
        left:960px;
        width:150px;
        height: 60px;
        cursor:pointer;
        
        
    }
    .facebook p {
        float:right;
        padding-right:0px;
        font-family: 'Big Shoulders Text', cursive;
        color:black;
        position:relative;
        top:20px;
        right:0px;
        font-size:20px;
        
    }
    
    
    .social-media h3 {
        position: absolute;
        font-family: 'Big Shoulders Text', cursive;
        top:250px;
        left: 860px;
        
    }
}