@media only screen and (min-width:641px) and (max-width:1280px) {
    .nav {
        width:1024px;
        height: 300px;
    }

    .nav h1 {
        position: absolute;
        left:50px;

    }

    .container-body {
        width:1024px;
        height:1000px;
        background-color: #2f2f2f;
    }


    .pessoais {
        position: absolute;
        width:1024px;
        height: 230px;
        left: 0px;
       
    }

    .direitos {
        width:1024px;
        height: 30px;
        background-color: #264d92;
        position: relative;     
        bottom:150px;
    }

    .container-body img {
        border-radius:190px;
        position: absolute;
        left: 390px;
        bottom:350px;
        border:solid 5px white;
        max-width:280px;
        max-height:220px;
        width: auto;
        height: auto;
    }
    
    .sobre {
        position: relative;
        top:180px;
        left:20px;
        width: 970px;
        height:350px;
        padding:5px;
        background-color: #2f2f2f;
        border: solid 1px white;
        border-radius:10px;
    }

    .sobre p {
        font-family: 'Dancing Script', cursive;
        font-size:23px;
        color:white;
    }

    .sobre2 {
        display: none;
    }


    .nav h3 {
        font-size: 20px;
        font-family: 'Courgette', cursive;
        color:white;
        position:absolute;
        left:45px;
        top:110px;
    }

 

    .knowledge {
        width:1024px;
        height: 490px;
        position: relative;
        bottom:270px;
    }

    .knowledge h1 {
        font-family: 'Be Vietnam', sans-serif;
        font-size:30px;
        color:white;
        position: absolute;
        left: 405px;
    }

    .java {
        width: 290px;
        height: 80px;
        border:solid 1px white;
        border-radius:15px;
        position: relative;
        top: 90px;
        left: 170px;
    }

    .php {
        width: 290px;
        height: 80px;
        border:solid 1px white;
        border-radius:15px;
        position: relative;
        top: 110px;
        left: 165px;
    }

    .html {
        width: 290px;
        height: 80px;
        border:solid 1px white;
        border-radius:15px;
        position: relative;
        top: 30px;
        left:-182px;
    }
    
    .css3 {
        width: 290px;
        height: 80px;
        border:solid 1px white;
        border-radius:15px;
        position: relative;
        top:-70px;
        left: 110px;
        
    }

    .pessoais-mobile p {
        position: relative;
        font-family: 'Big Shoulders Text', cursive;
        top:10px;
        width: 1024px;
        font-size:30px;
        left: 10px;
        
    }

    .infomation {
        width:1024px;
        height:300px;
        border-top: 5px solid #264d92;
        position: relative;
        top:-335px;
       
    }

    .social-media {
        position: absolute;
        width:1024px;
        height: 290px;
        left: 0px;
        
    }

    .github {
        position: absolute;
        top:250px;
        left:120px;
        width:200px;
        height: 60px;
        cursor:pointer;
        
    }

    .facebook {
        position: absolute;
        top:250px;
        left:730px;
        width:150px;
        height: 60px;
        cursor:pointer;
        
    }
    .facebook p {
        float:right;
        padding-right:0px;
        font-family: 'Big Shoulders Text', cursive;
        color:black;
        position:relative;
        top:20px;
        right:0px;
        font-size:20px;
    }
    
    .github p {
        float:right;
        padding-right:50px;
        font-family: 'Big Shoulders Text', cursive;
        color:black;
        position:relative;
        top:20px;
        font-size:20px;
    }
    .social-media h3 {
        position: absolute;
        font-family: 'Big Shoulders Text', cursive;
        top:370px;
        left: 420px;
        
    }
}