@media only screen and (min-width:641px) and (max-width:1280px) {
    .nav {
        width:768px;
        height: 300px;
    }

    .nav h1 {
        position: absolute;
        left:50px;

    }

    .container-body {
        width:768px;
        height:1100px;
        background-color: #2f2f2f;
    }


    .pessoais {
        position: absolute;
        width:768px;
        height: 230px;
        left: 0px;
       display: none;
    }

    .pessoais-mobile {
        position: absolute;
        width:768px;
        height: 230px;
        left: 0px;
       
    }

    
    .pessoais-mobile p {
        position: relative;
        font-family: 'Big Shoulders Text', cursive;
        top:10px;
        width: 768px;
        font-size:20px;
        left: 10px;
        
    }

    .direitos {
        width:768px;
        height: 30px;
        background-color: #264d92;
        position: relative;     
        bottom:150px;
    }

    .container-body img {
        border-radius:190px;
        position: absolute;
        left: 260px;
        bottom:170px;
        border:solid 5px white;
        max-width:230px;
        max-height:190px;
        width: auto;
        height: auto;
    }
    
    .sobre {
        position: relative;
        top:140px;
        left:20px;
        width: 695px;
        height:350px;
        padding:5px;
        background-color: #2f2f2f;
        border: solid 1px white;
        border-radius:10px;
    }

    .sobre p {
        font-family: 'Dancing Script', cursive;
        font-size:20px;
        color:white;
    }

    .sobre2 {
        display: none;
    }


    .nav h3 {
        font-size: 20px;
        font-family: 'Courgette', cursive;
        color:white;
        position:absolute;
        left:45px;
        top:120px;
    }

 

    .knowledge {
        width:768px;
        height: 490px;
        position: relative;
        bottom:320px;
    }

    .knowledge h1 {
        font-family: 'Be Vietnam', sans-serif;
        font-size:30px;
        color:white;
        position: absolute;
        left: 235px;
    }

    .java {
        width: 290px;
        height: 80px;
        border:solid 1px white;
        border-radius:15px;
        position: relative;
        top: 90px;
        left: 210px;
    }

    .php {
        width: 290px;
        height: 80px;
        border:solid 1px white;
        border-radius:15px;
        position: relative;
        top: 110px;
        left: 210px;
    }

    .html {
        width: 290px;
        height: 80px;
        border:solid 1px white;
        border-radius:15px;
        position: relative;
        top: 230px;
        left:-265px;
    }
    
    .css3 {
        width: 290px;
        height: 80px;
        border:solid 1px white;
        border-radius:15px;
        position: relative;
        top:130px;
        left: 25px;
        
    }


    .infomation {
        width:768px;
        height:300px;
        border-top: 5px solid #264d92;
        position: relative;
        bottom:236px;
       
    }

    .social-media {
        position: absolute;
        width:768px;
        height: 290px;
        left: 0px;
        
    }

    .github {
        position: absolute;
        top:210px;
        left:120px;
        width:200px;
        height: 60px;
        cursor:pointer;
        
    }

    .facebook {
        position: absolute;
        top:210px;
        left:440px;
        width:150px;
        height: 60px;
        cursor:pointer;
        
    }
    .facebook p {
        float:right;
        padding-right:0px;
        font-family: 'Big Shoulders Text', cursive;
        color:black;
        position:relative;
        top:20px;
        right:0px;
        font-size:20px;
    }
    
    .github p {
        float:right;
        padding-right:50px;
        font-family: 'Big Shoulders Text', cursive;
        color:black;
        position:relative;
        top:20px;
        font-size:20px;
    }
    .social-media h3 {
        position: absolute;
        font-family: 'Big Shoulders Text', cursive;
        top:330px;
        left: 270px;
        
    }
}