@media only screen and (min-width:1980px) and (max-width:2480px) {


    
    .nav {
        width: 1980px;
        height: 550px;
    }

    .nav h1 {
        position: absolute;
        left:50px;
        font-size:140px;
    }

    .nav h3 {
        font-size: 40px;
        font-family: 'Courgette', cursive;
        color:white;
        position:absolute;
        left:45px;
        top:220px;
    }

    .container-body img {
        border-radius:190px;
        position: absolute;
        left: 840px;
        bottom:380px;
        border:solid 5px white;
        max-width:370px;
        max-height:310px;
        width: auto;
        height: auto;
    }

    .sobre {
        position: relative;
        top:260px;
        left:20px;
        width: 940px;
        height:470px;
        padding:5px;
        background-color: #2f2f2f;
        border: solid 1px white;
        border-radius:10px;
    }

    .sobre p {
        font-family: 'Dancing Script', cursive;
        font-size:27px;
        color:white;
    }

    .sobre2 {
        width: 600px;
        height:450px;
        border-left: solid 1px white;
        float:right;
        position: relative;
        top:-192px;
        right:190px;
        display: inline;
    }

    .knowledge {
        width:1980px;
        height: 490px;
        position: relative;
        bottom:20px;
    }

    .knowledge h1 {
        font-family: 'Be Vietnam', sans-serif;
        font-size:40px;
        color:white;
        position: absolute;
        left: 840px;
    }

    .container-body {
        width:1980px;
        height:1400px;
        background-color: #2f2f2f;
    }


    .pessoais {
        position: absolute;
        width:1980px;
        height: 230px;
        left: 0px;
       display:inline;
    }

    .pessoais p {
        position: relative;
        font-family: 'Big Shoulders Text', cursive;
        top:10px;
        width: 1280px;
        font-size:35px;
        left: 10px;
        
    }


    .java {
        width: 290px;
        height: 80px;
        border:solid 1px white;
        border-radius:15px;
        position: relative;
        top: 130px;
        left: 280px;
    }

    .java p {
        font-size: 25px;
    }
    .php {
        width: 290px;
        height: 80px;
        border:solid 1px white;
        border-radius:15px;
        position: relative;
        top: 200px;
        left: 280px;
    }
    .php p{
        font-size:25px;
        padding-right:15px;
    }
    .css3 {
        width: 290px;
        height: 80px;
        border:solid 1px white;
        border-radius:15px;
        position: relative;
        top:-34px;
        left: 30px;
        
    }
    .css3 p {
        font-size:25px;
        padding:0px;
        padding-right: 15px;
    }

    .html {
        width: 290px;
        height: 80px;
        border:solid 1px white;
        border-radius:15px;
        position: relative;
        top: 120px;
        left:-260px;
    }
    .html p {
        font-size:25px;
        padding: 0px;
        padding-right: 15px;
    }

    .pessoais-mobile p {
        position: relative;
        font-family: 'Big Shoulders Text', cursive;
        top:10px;
        width: 1024px;
        font-size:20px;
        left: 10px;
        display:none;
    }

    .infomation {
        width:1980px;
        height:300px;
        border-top: 5px solid #264d92;
        position: relative;
        top:60px;
       
    }

    .social-media {
        position: absolute;
        width:1980px;
        height: 290px;
        left: 0px;
        
        
    }

    .github {
        position: absolute;
        top:90px;
        left:1300px;
        width:200px;
        height: 60px;
        cursor:pointer;
        
    }

    .github p {
        float:right;
        padding:0px;
        font-family: 'Big Shoulders Text', cursive;
        color:black;
        position:relative;
        top:15px;
        font-size:35px;
        
    }

    .facebook {
        position: absolute;
        top:90px;
        left:1040px;
        width:150px;
        height: 60px;
        cursor:pointer;
        
        
    }
    .facebook p {
        float:right;
        padding:0px;
        font-family: 'Big Shoulders Text', cursive;
        color:black;
        position:relative;
        top:-55px;
        left:55px;
        right:0px;
        font-size:35px;
        
    }
    
    
    .social-media h3 {
        position: absolute;
        font-family: 'Big Shoulders Text', cursive;
        top:200px;
        left: 1150px;
        font-size:30px;
    }

    .direitos {
        width:1980px;
        height: 30px;
        background-color: #264d92;
        position: relative;     
        top:30px;
    }
}
